version: 2
updates:
  - package-ecosystem: cargo
    directories:
      - software
    schedule:
      interval: monthly
  - package-ecosystem: github-actions
    directories:
      - /
    schedule:
      interval: monthly
