name: branch-protection

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./software
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
        with:
          target: riscv32imac-unknown-none-elf
          components: clippy
      - run: cargo clippy -- -D warnings

  check-success:
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - run: echo true
